body{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background: #070722;

}

.main{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    font-family: sans-serif;
}

button{
    color: #2d3e50;
    background-color: #fff;
    padding: 12px 25px;
    font-weight: 700;
    transition: all 0.5s;
    box-shadow: 10px 10px 0px #136d6e;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

button:hover{
    background-color: #136d6e;
    box-shadow: -10px -10px 0 #fff;
    transform: translate(10px,10px);
    color: #fff;
}